html{
    scroll-behavior: smooth;
}

body{
   margin: 50px;
   background-color: #96D4E7;
}

div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    background-color: #D45F5F;
    word-spacing: 2px;
  }

div>p{
   font-family: "Bison";
    font-size: 30px;
}

div>h1{
  font-family: "Aboreto";
}

@font-face {
    font-family: "Bison Bold";
    src: url("../Bison-Bold.ttf");
  }

  

